<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.bandingMachine.mapper.ProductMapper">
	<select id="selectProudctList" resultType="com.ex.bandingMachine.dto.Product">
		SELECT product_name productName,
			price, 
			state, 
			stock 
		FROM product
	</select>
	<select id="selectProudctListByState" parameterType="String" resultType="com.ex.bandingMachine.dto.Product">
		SELECT product_name productName,
			price, 
			state, 
			stock 
		FROM product
		WHERE state = #{state}
	</select>
	<update id="updateProduct" parameterType="com.ex.bandingMachine.dto.Product">
		UPDATE product 
		<set> 
			<if test="price != 0">
				price = #{price}, 
			</if>
			<if test="state != null">
				state = #{state}, 
			</if>
			<if test="stock != null">
				stock = stock + #{stock}, 
			</if>
		</set>
		WHERE product_name = #{productName}
	</update>
	<insert id="insertProduct" parameterType="com.ex.bandingMachine.dto.Product">
		INSERT INTO product (
			product_name, 
			price
		) VALUES (
			#{productName}, 
			#{price}
		)
	</insert>
	<select id="selectProduct" parameterType="String" resultType="com.ex.bandingMachine.dto.Product">
		SELECT
			product_name productName,
			price
		FROM product
		WHERE product_name = #{productName}
	</select>
</mapper>