<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.vendingMachine.mapper.BalanceMapper">
	<select id="selectBalance" resultType="int">
		SELECT balance 
		FROM balance
	</select>
	<update id="updateBalance" parameterType="int">
		UPDATE balance
		SET balance = balance + #{balance};
	</update>
</mapper>